{% extends "shennong/base.html" %}

{% block head_extra %}

<!-- Table style -->
<style>
table {
    width: 100%;
}
th {
    text-align: left;
}
.chinese {
    width: 15%;
}
.pinyin {
    width: 30%;
}
</style>

{% endblock head_extra %}

{% block body %}

<h1>
    神农本草经 Shen Nong Herb Database
</h1>
<h2>
    Recipe Index
</h2>

<!-- Entry form for search terms -->
<form method="get" action="{% url "index" %}">
    <label for="query">Search:</label>
        <input type="text" name="query" id="query"
            size="100"
            value="{{ recipe_search_terms }}"/>
        <input type="submit" value="Submit"/>
</form>
<br/>

<!-- Display search results -->
{% if recipe_index %}
    <table>
        <tr>
            <th class="chinese">
                中文
            </th>
            <th class="pinyin">
                Pinyin
            </th>
            <th>
                English
            </th>
        </tr>

        {% for recipe in recipe_index %}
            <tr>
                <td>
                    <a href="{% url 'recipe_header' recipe.id %}">
                        {{ recipe.chinese }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'recipe_header' recipe.id %}">
                        {{ recipe.pinyin }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'recipe_header' recipe.id %}">
                        {{ recipe.english }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% else %}
    <p>No recipes available.</p>
{% endif %}

{% endblock body %}
