{% extends "shennong/base.html" %}

{% block body %}

<h1>
    Shen Nong 神农
</h1>
<h2>
    Recipe Index
</h2>

{% if recipe_index %}
    <table>
        <tr>
            <th>
                中文
            </th>
            <th>
                Pinyin
            </th>
            <th>
                English
            </th>
        </tr>

        {% for recipe in recipe_index %}
            <tr>
                <td>
                    <a href="{% url 'recipe_header' recipe.id %}">
                        {{ recipe.chinese }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'recipe_header' recipe.id %}">
                        {{ recipe.pinyin }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'recipe_header' recipe.id %}">
                        {{ recipe.english }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% else %}
    <p>No recipes available.</p>
{% endif %}

{% endblock body %}
