<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{{ title|default:"" }}
    </title>
    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
        @font-face { font-family: Lato; 
            src: url("{% static 'fonts/Lato2OFL/Lato-Regular.ttf' %}");
        }

        body {
            font-family: "Lato";
        }
    </style>

</head>
<body>
<h1>
    {{ recipe.chinese }}, {{ recipe.pinyin }}
</h1>
<ul>
    {% for herb in recipe.ingredients.all %}
        <li>
            <a href="{% url 'herb' herb.id %}">
                {{ herb.chinese }}, {{ herb.pinyin }}, 
                    {{ herb.latin }}, {{ herb.english }} 
            </a>
        </li>
    {% endfor %}
</ul>
</body>
</html>
