{% extends "shennong/base.html" %}

{% block head_extra %}

<style>
.column {
    float: left;
    /*margin: 0px 10px;*/
}
.column h1, .column h2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
ul {
    margin-left: 10px;
    margin-right: 10px;
}
.label {
    width: 50%;
}
.chinesename {
    font-size: 400%; /* Font size 400% OK normally, 300% for long names */
}
.longchinesename {
    font-size: 300%; /* Font size 400% OK normally, 300% for long names */
}
.list {
    width: 50%;
    font-size: small; /* Font size small for normal, x-small for big lists */
}
.biglist {
    width: 50%;
    font-size: x-small; /* Font size small for normal, x-small for big lists */
}
</style>

{% endblock head_extra %}

{% block body %}

<div class="column label">
    <h1 class=
        {% if recipe.chinese|length > 5 %}
            "longchinesename">
        {% else %}
            "chinesename">
        {% endif %}
        <p>
            {{ recipe.chinese }}
        </p>
        <p>
            {{ recipe.pinyin }}
        </p>
    </h1>
</div>

<div class=
    {% if recipe.ingredients.all|length > 9 %}
        "column biglist">
    {% else %}
        "column list">
    {% endif %}
    <h1>
        <p>
            {{ recipe.chinese }}
        </p>
        <p>
            {{ recipe.pinyin }}
        </p>
    </h1>
    <h2>
        Ingredients
    </h2>
    <ul>
        {% for ingredient in ingredient_list %}
            <li>
                <a href="{% url 'herb_header' ingredient.herb.id %}">
                    {{ ingredient.herb.chinese }}, {{ ingredient.herb.pinyin }},
                        {{ ingredient.herb.latin }}, {{ ingredient.herb.english }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock body %}
